.outer-main-container {
  display: flex;
  justify-content: center;
  border: solid 1px #ff4500;
}

.inner-main-container {
  margin: 0 auto;
  text-align: center;
  border: solid 1px #ff4500;
}

.counter-control-container {
  display: flex;
  border: solid 1px #ff4500;
}
