.main-container {
  justify-content: center;
}

.counter-container {
  text-align: center;
}

.buttons-container {
  text-align: center;
}

.onOff-button {
  text-align: center;
}

button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 20px;
  margin: 5px 5px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 8px;
  width: 75px;
}

button:hover {
  background-color: #8a58b7;
}

.mt-30 {
  margin-top: 30px;
}
